USE [QLBH_Web]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 31/10/2023 02:50:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(6,1) NOT NULL,
	[CatName] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK__Categori__6A1C8ADAD5893AF4] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comments]    Script Date: 31/10/2023 02:50:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[Id] [int] IDENTITY(3,1) NOT NULL,
	[UserID] [int] NULL,
	[Content] [nvarchar](255) NULL,
	[Time] [datetime] NULL,
	[ProID] [int] NOT NULL,
 CONSTRAINT [PK_Comments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 31/10/2023 02:50:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[Id] [int] IDENTITY(14,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[ProID] [int] NOT NULL,
	[Quantity] [int] NULL,
	[Price] [money] NULL,
	[Amount] [money] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 31/10/2023 02:50:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [int] IDENTITY(1021,1) NOT NULL,
	[OrderDate] [datetime] NOT NULL,
	[UserID] [int] NOT NULL,
	[Total] [money] NULL,
	[SttID] [int] NOT NULL,
 CONSTRAINT [PK__Orders__C3905BAF5444467A] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Producers]    Script Date: 31/10/2023 02:50:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producers](
	[Id] [int] IDENTITY(12,1) NOT NULL,
	[ProducerName] [nvarchar](255) NULL,
 CONSTRAINT [PK__Producer__133696B2995464F0] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 31/10/2023 02:50:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(91,1) NOT NULL,
	[ProName] [nvarchar](255) NOT NULL,
	[TinyDes] [ntext] NULL,
	[FullDes] [ntext] NULL,
	[Price] [money] NULL,
	[ProducerID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[View] [int] NOT NULL,
	[MadeIn] [nvarchar](50) NOT NULL,
	[CatID] [int] NOT NULL,
	[ReceipDate] [datetime] NULL,
	[Orders] [int] NULL,
 CONSTRAINT [PK__Products__620295F091154529] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rating]    Script Date: 31/10/2023 02:50:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rating](
	[Id] [int] IDENTITY(3,1) NOT NULL,
	[ProID] [int] NOT NULL,
	[One] [int] NULL,
	[Two] [int] NULL,
	[Three] [int] NULL,
	[Four] [int] NULL,
	[Five] [int] NULL,
	[Rate] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Statuses]    Script Date: 31/10/2023 02:50:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Statuses](
	[Id] [int] NOT NULL,
	[SttName] [nvarchar](255) NULL,
 CONSTRAINT [PK__Statuses__6CE0557C2894B124] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 31/10/2023 02:50:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(12,1) NOT NULL,
	[f_Username] [nvarchar](50) NULL,
	[f_Password] [nvarchar](255) NULL,
	[f_Name] [nvarchar](100) NULL,
	[f_Email] [nvarchar](100) NULL,
	[f_DOB] [datetime] NOT NULL,
	[f_Permission] [int] NOT NULL,
	[f_Address] [nvarchar](255) NULL,
	[f_Phone] [nvarchar](20) NULL,
 CONSTRAINT [PK__Users__2910CFA5FDD1EA41] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [CatName]) VALUES (1, N'Camera')
INSERT [dbo].[Categories] ([Id], [CatName]) VALUES (2, N'Laptop')
INSERT [dbo].[Categories] ([Id], [CatName]) VALUES (3, N'Phone')
SET IDENTITY_INSERT [dbo].[Categories] OFF
SET IDENTITY_INSERT [dbo].[Comments] ON 

INSERT [dbo].[Comments] ([Id], [UserID], [Content], [Time], [ProID]) VALUES (3, 2, N'good', CAST(N'2017-06-05T20:26:09.000' AS DateTime), 2)
INSERT [dbo].[Comments] ([Id], [UserID], [Content], [Time], [ProID]) VALUES (4, 8, N'not bad!', CAST(N'2017-06-05T20:27:04.000' AS DateTime), 2)
INSERT [dbo].[Comments] ([Id], [UserID], [Content], [Time], [ProID]) VALUES (5, 2, N'abc', CAST(N'2017-06-15T14:52:22.000' AS DateTime), 18)
SET IDENTITY_INSERT [dbo].[Comments] OFF
SET IDENTITY_INSERT [dbo].[OrderDetails] ON 

INSERT [dbo].[OrderDetails] ([Id], [OrderID], [ProID], [Quantity], [Price], [Amount]) VALUES (14, 10, 11, 3, 239990.0000, 719970.0000)
INSERT [dbo].[OrderDetails] ([Id], [OrderID], [ProID], [Quantity], [Price], [Amount]) VALUES (15, 10, 12, 4, 289990.0000, 1159960.0000)
INSERT [dbo].[OrderDetails] ([Id], [OrderID], [ProID], [Quantity], [Price], [Amount]) VALUES (16, 11, 1, 2, 259900.0000, 519800.0000)
SET IDENTITY_INSERT [dbo].[OrderDetails] OFF
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([Id], [OrderDate], [UserID], [Total], [SttID]) VALUES (10, CAST(N'2017-06-03T01:21:58.653' AS DateTime), 2, 1879930.0000, 0)
INSERT [dbo].[Orders] ([Id], [OrderDate], [UserID], [Total], [SttID]) VALUES (11, CAST(N'2017-06-03T01:31:52.750' AS DateTime), 2, 657700.0000, 0)
INSERT [dbo].[Orders] ([Id], [OrderDate], [UserID], [Total], [SttID]) VALUES (12, CAST(N'2017-06-03T01:37:29.993' AS DateTime), 2, 917600.0000, 0)
SET IDENTITY_INSERT [dbo].[Orders] OFF
SET IDENTITY_INSERT [dbo].[Producers] ON 

INSERT [dbo].[Producers] ([Id], [ProducerName]) VALUES (1, N'Apple')
INSERT [dbo].[Producers] ([Id], [ProducerName]) VALUES (2, N'Asus')
INSERT [dbo].[Producers] ([Id], [ProducerName]) VALUES (3, N'Canon')
SET IDENTITY_INSERT [dbo].[Producers] OFF
SET IDENTITY_INSERT [dbo].[Products] ON 

SET IDENTITY_INSERT [dbo].[Products] OFF
SET IDENTITY_INSERT [dbo].[Rating] ON 

INSERT [dbo].[Rating] ([Id], [ProID], [One], [Two], [Three], [Four], [Five], [Rate]) VALUES (3, 12, 5, 10, 20, 8, 3, 2)
INSERT [dbo].[Rating] ([Id], [ProID], [One], [Two], [Three], [Four], [Five], [Rate]) VALUES (4, 1, 1, 0, 0, 0, 1, 3)
INSERT [dbo].[Rating] ([Id], [ProID], [One], [Two], [Three], [Four], [Five], [Rate]) VALUES (5, 35, 0, 1, 0, 1, 0, 3)
SET IDENTITY_INSERT [dbo].[Rating] OFF
INSERT [dbo].[Statuses] ([Id], [SttName]) VALUES (0, N'Chưa giao')
INSERT [dbo].[Statuses] ([Id], [SttName]) VALUES (1, N'Đã giao')
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [f_Username], [f_Password], [f_Name], [f_Email], [f_DOB], [f_Permission], [f_Address], [f_Phone]) VALUES (1, N'admin', N'E1ADC3949BA59ABBE56E057F2F883E', N' Nguyễn Văn An', N'nvan@gmail.com', CAST(N'1990-06-20T00:00:00.000' AS DateTime), 1, N'TP. HCM', N'091283945')
INSERT [dbo].[Users] ([Id], [f_Username], [f_Password], [f_Name], [f_Email], [f_DOB], [f_Permission], [f_Address], [f_Phone]) VALUES (2, N'user01', N'E1ADC3949BA59ABBE56E057F2F883E', N'Trần Sơn Tùng', N'tstung@gmail.com', CAST(N'1996-02-25T00:00:00.000' AS DateTime), 0, N'TP. HCM', N'012435565')
INSERT [dbo].[Users] ([Id], [f_Username], [f_Password], [f_Name], [f_Email], [f_DOB], [f_Permission], [f_Address], [f_Phone]) VALUES (8, N'user02', N'E1ADC3949BA59ABBE56E057F2F883E', N'Nguyễn Minh Phong', N'nmphong@gmail.com', CAST(N'1995-02-21T00:00:00.000' AS DateTime), 0, N'TP. Biên Hòa', N'090998294')
SET IDENTITY_INSERT [dbo].[Users] OFF
