.product-swiper-wrapper {
    @apply pb-10;
}

.horizontal-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-bullet {
  width: 8px;
  height: 8px;
  margin: 0 6px;
  display: inline-block;
  background: #ccc;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  box-sizing: content-box;
  box-shadow: 0px 0px 2px 1px rgba(130, 130, 130, 0.3);
}

.swiper-bullet-active {
  width: 8px;
  height: 8px;
  background: #ffffff;

  @apply border-2 border-nmp-primary;
}