.tab-head {

}
.tab-container {
    
}
.tab-links {
    @apply mb-6 lg:mb-10;

    [class~="tab-link"] {
        @apply inline-block;

        &:first-child {
            button {
                @apply ml-0;
            }
        }

        &:last-child {
            button {
                @apply mr-0;
            }
        }

        button {
            font-family: 'Montserrat', sans-serif;
            letter-spacing: 0.1em;
            display: block;
            color: inherit;
            transition: color 0.25s, border-color 0.25s, background-color 0.25s, opacity 0.25s, width 0.25s ease 0s;

            @apply relative m-0 mx-6 mb-4 text-sm font-bold uppercase rounded-none pb-3;

            &::before {
                content: '';
                position: absolute;
                border-bottom: 2px solid #65a15a;
                width: 100%;
                bottom: 0;
                transition: all 0.5s;
                transform: scale(0);
            }

            &:hover, &[class~="btn-active"] {
                @apply text-nmp-primary;
                &::before {
                    transform: scale(1);
                }
            }
        }
    }
}

.tab-panel {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 1px;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;

    &[class~="tab-panel-active"] {
        opacity: 1;
        visibility: visible;
        position: static;
        height: auto;
        overflow: inherit;
    }

    [class~="tab-panel-content"] {
        > p:not(:last-child) {
            @apply mb-7;
        }
    }
}