.table-wrapper {
    width: 100%;
    overflow: hidden;
}
table {
    width: max-content;
    // transform: translateX(0px);
    transform: translateX(calc((100vw - 1.6rem)*(-1)));
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: ease-in-out;
}
th, td {
    position: relative;
    border: 1px solid #e6e6e6;
    width: calc(100vw - 1.6rem);
    padding: 0.5rem;
    word-break: break-all;
}
th {
    text-align: center;
}
th[data-title], td[data-title] {
    padding-left: 38px;
}
th[data-title], td[data-title] > * {
    display: none;
}
th[data-title]:before, td[data-title]:before {
    content: attr(data-title);
    font-weight: 700;
    display: block;
    width: 38px;
    margin-left: -38px;
    float: left;
    position: relative;
    z-index: 1;
    padding: 0.5rem;
    white-space: pre-wrap;
}
th[data-title]:after, td[data-title]:after {
    content: attr(data-content);
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 0;
    padding: 0.5rem;
    left: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: pre-wrap;
    border-left: 1px solid #e6e6e6;
}

@media (min-width: 280px) {
    th, td {
        word-break: break-word;
    }
    th[data-title], td[data-title] {
        padding-left: 116px;
    }
    th[data-title]:before, td[data-title]:before {
        width: 116px;
        margin-left: -116px;
    }
    th[data-title]:after, td[data-title]:after {
        left: 116px;
    }
}

@media (min-width: 375px) {
    th, td {
        word-break: break-word;
    }
    th[data-title], td[data-title] {
        padding-left: 216px;
    }
    th[data-title]:before, td[data-title]:before {
        width: 216px;
        margin-left: -216px;
    }
    th[data-title]:after, td[data-title]:after {
        left: 216px;
    }
}

@media (min-width: 576px){
    th, td {
        max-width: calc(540px - 1.6rem);
    }
    table{
        transform: translateX(calc((540px - 1.6rem)*(-1)));
    }
}

@media (min-width: 768px) {
    th, td {
        max-width: calc(720px - 1.6rem);
    }
    table{
        transform: translateX(calc((720px - 1.6rem)*(-1)));
    }
}

@media (min-width: 990px) {
    th, td {
        max-width: calc(960px - 1.6rem);
    }

    table{
        transform: translateX(calc((960px - 1.6rem)*(-1)));
    }
}

@media (min-width: 1024px){
    .table-wrapper {
        width: 100%;
    }
    table {
        width: 100%;
        transform: translateX(0px);
    }
    th[data-title], td[data-title] {
        padding-left: 16px;
    }
    th[data-title]:before, td[data-title]:before {
        display: none;
    }
    th[data-title]:after, td[data-title]:after {
        width: 100%;
        left: 0;
        border: none;
    }
}

