/* roboto-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/roboto/roboto-v30-latin-regular.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  src: url("/assets/fonts/roboto/roboto-v30-latin-italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("/assets/fonts/roboto/roboto-v30-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-500italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: italic;
  font-weight: 500;
  src: url("/assets/fonts/roboto/roboto-v30-latin-500italic.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("/assets/fonts/roboto/roboto-v30-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-700italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: italic;
  font-weight: 700;
  src: url("/assets/fonts/roboto/roboto-v30-latin-700italic.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("/assets/fonts/roboto/roboto-v30-latin-900.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-900italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: italic;
  font-weight: 900;
  src: url("/assets/fonts/roboto/roboto-v30-latin-900italic.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-regular - vietnamese */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/roboto/roboto-v30-vietnamese-regular.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-italic - vietnamese */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  src: url("/assets/fonts/roboto/roboto-v30-vietnamese-italic.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-500 - vietnamese */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("/assets/fonts/roboto/roboto-v30-vietnamese-500.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-500italic - vietnamese */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: italic;
  font-weight: 500;
  src: url("/assets/fonts/roboto/roboto-v30-vietnamese-500italic.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-700 - vietnamese */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("/assets/fonts/roboto/roboto-v30-vietnamese-700.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-700italic - vietnamese */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: italic;
  font-weight: 700;
  src: url("/assets/fonts/roboto/roboto-v30-vietnamese-700italic.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-900 - vietnamese */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("/assets/fonts/roboto/roboto-v30-vietnamese-900.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-900italic - vietnamese */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: italic;
  font-weight: 900;
  src: url("/assets/fonts/roboto/roboto-v30-vietnamese-900italic.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  margin: 0 auto;
  color: #666;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}
a,
.ant-breadcrumb a,
button.block-link,
.label-block-link {
  color: #0a0a0a;
  text-decoration: none;
  transition: color 0.25s, border-color 0.25s, background-color 0.25s,
    opacity 0.25s, width 0.25s ease 0s;
}
a:hover,
.ant-breadcrumb a:hover,
button.block-link:hover,
.label-block-link:hover {
  color: #65a15a;
  background-color: transparent;
}

.ant-breadcrumb ol {
    align-items: center;
}

.ant-breadcrumb .ant-breadcrumb-separator{
  display: inline-block;
  font: normal normal normal 16px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;

  &::before {
    content: "\f101";
  }
}

.label-block-link {
  @apply leading-[50px] lg:leading-[60px];
}

section {
  @apply relative px-4 md:px-8 lg:px-16;
}

img {
  max-width: 100%;
  height: auto;
}

.form-login > label,
.input-group > label {
  font-size: 12px;
  margin-bottom: 4px;
  color: #999;
}

input[type="checkbox"] {
  display: none;
}
input[type="checkbox"] + span {
  position: relative;
  font-size: 13px;
  color: #888;
  padding-left: 28px;

  &::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
    top: -2px;
    border: 2px solid #eeeeee;
  }
}

input[type="checkbox"] + span.checked {
  &::after {
    content: "\f00c";
    font-family: "FontAwesome", sans-serif;
    display: inline-block;
    position: absolute;
    left: 4px;
    top: -3px;
    color: #65a15a;
    font-size: 13px;
  }
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
button:focus,
select:focus,
input[type="checkbox"]:focus,
input[type="text"]:focus-visible,
input[type="password"]:focus-visible,
input[type="email"]:focus-visible,
button:focus-visible,
select:focus-visible,
input[type="checkbox"]:focus-visible {
  @apply ring-0 outline-none;
}

button,
button[type="button"],
input[type="submit"],
input[type="button"] {
  color: #ffffff;
  transition: color 0.25s, border-color 0.25s, background-color 0.25s,
    opacity 0.25s, width 0.25s ease 0s;
}

.header-top,
.btn-search,
.count {
  background-color: #65a15a;
}

.chosen-container:hover {
  cursor: pointer;
}

.chosen-container-single .chosen-single {
  position: relative;
  display: block;
  overflow: hidden;
  padding: 0 0 0 8px;
  height: 25px;
  border: 1px solid #aaa;
  border-radius: 5px;
  background-color: #fff;
  background: linear-gradient(#fff 20%, #f6f6f6 50%, #eee 52%, #f4f4f4 100%);
  background-clip: padding-box;
  -webkit-box-shadow: 0 0 3px #fff inset, 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 3px #fff inset, 0 1px 1px rgba(0, 0, 0, 0.1);
  color: #444;
  text-decoration: none;
  white-space: nowrap;
  line-height: 24px;
}

.chosen-container-single .chosen-single .chosen-label {
  display: block;
  overflow: hidden;
  margin-right: 26px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.chosen-container-single .chosen-single .chosen-dropdown-btn {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: calc(100% / 6);
  height: 100%;
}

.chosen-container-single .chosen-single .chosen-dropdown-btn b {
  display: block;
  width: 100%;
  height: 100%;
}

.swiper {
  height: 100%;
}

.swiper-slide {
  height: auto !important;
}
.swiper-wrapper {
  align-items: stretch;
}

.title {
  @apply relative text-3xl leading-loose mb-8 uppercase text-black font-bold;

  &::before {
    content: "";
    position: absolute;
    width: 80px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    @apply border-b-4 border-b-nmp-primary;
  }
}

.widget-title {
  @apply relative text-sm leading-loose mb-8 uppercase text-black font-bold;

  &::before {
    content: "";
    position: absolute;
    width: 40px;
    bottom: 0;
    left: 0;
    @apply border-b-2 border-b-nmp-primary;
  }
}

.description {
  margin: 0 0 20px;
  max-width: 290px;
}

footer {
  color: #777;

  .footer-content {
    padding-top: 60px;
    padding-bottom: 30px;
    background-color: #f3f3f3;
  }
}

.quick-menu {
  padding: 0;
  margin: 0;
  list-style: none;

  .quick-menu-item {
    line-height: 26px;
    padding-top: 8px;
    padding-bottom: 8px;

    > a {
      color: #777 !important;
    }
  }
}

.socials-list {
  list-style: none;
}

.socials-list li a {
  font-size: 20px;
  display: inline-block;
  position: relative;
  z-index: 1;
  margin-right: 20px;
  color: #ababab;
}

.back-to-top {
  width: 42px;
  height: 42px;
  line-height: 42px;
  position: fixed;
  bottom: 52px;
  right: 35px;
  text-align: center;
  transition: all 0.4s ease 0s;
  z-index: 999;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.01em;
  font-size: 10px;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #c7c8c1;
    border-radius: 50% 50% 0 50%;
    transform: rotate(-135deg);
  }

  &:hover {
    &::after {
      @apply bg-nmp-primary;
    }
  }

  span {
    position: relative;
    z-index: 2;
    color: #fff;
  }

  &:not(.active) {
    transform: scale(0);
  }
}
