.header {
    [class~="header-top"] {
        color: #fff;
        @apply py-2 lg:py-6;

        ul {
            list-style: none;
            list-style-type: none;
            padding: 0;
            vertical-align: middle;
            margin: 0;
            
            &[class~="menu-right"] {
                list-style: none;
                list-style-type: none;
                justify-content: flex-end;

                li {
                    display: inline-block;
                    border-left: 2px solid #fff;
                }

                li:first-child {
                    border-left: none;
                }

                @apply hidden lg:flex;
            }

            li {
                display: inline-block;

                > a {
                    text-decoration: none;
                    color: #fff;
                }
            }
        }
    }

    /*-------------------------------------HEADER MIDDLE - START-------------------------------------------*/
    [class~="header-middle"] {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;

        [class~="header-logo"] [class~="logo"] {
            width: 160px;
        }

        @apply py-3 lg:py-12 border-b border-neutral-300 lg:border-none;
    }
    /*-------------------------------------HEADER MIDDLE - END-------------------------------------------*/

    /*-------------------------------------HEADER RIGHT - START-------------------------------------------*/
    [class~="customer"] {
        position: relative;
        text-align: right;
        display: flex;
    }
    [class~="block-user"], [class~="block-cart"], [class~="block-link"] {
        display: inline-block;
        font-size: 24px;
        width: 40px;
        line-height: 46px;
        text-align: center;
        position: relative;
        margin-top: 7px;
        margin-bottom: 7px;
    }

    [class~="block-link"] [class~="count"] {
        position: absolute;
        top: 6px;
        right: -8px;
        display: inline-block;
        min-width: 22px;
        height: 22px;
        line-height: 22px;
        text-align: center;
        padding: 0 3px;
        border-radius: 22px;
        font-size: 12px;
        color: #ffffff;
    }

    [class~="btn-shine"] {
        position: relative;
        overflow: hidden;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(
                120deg,
                rgba(255,255,255, 0) 40%,
                rgba(255,255,255, .5),
                rgba(255,255,255, 0) 80%
            );
            left: -100%;
            /* transition: all 0.6s ease-in-out; */
        }

        &:hover::before{
            /* left: 100%; */
            animation: shine 3s;
        }
    }

    @keyframes shine {
        0% {left: -100px}
        20% {left: 100%}
        100% {left: 100%}
    }

    /*-------------------------------------HEADER BOTTOM - START-------------------------------------------*/

    [class~="header-bottom"] {
        @apply bg-nmp-gray;
    }

    /*-------------------------------------HEADER BOTTOM - END-------------------------------------------*/
}

.required {
    color: #f44336;
    font-weight: normal;
}

.popup-dialog {
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.16);
    @apply absolute bg-white leading-7 transition-transform duration-300 ease-out;
}

.login-form, .widget-carts {
    @apply w-80 right-0 flex flex-col items-start divide-y divide-gray-300;

    [class~="message-cart"]{
        text-align: center;
        color: #888;
        font-weight: 700;
        padding: 10px 0 30px;
        margin-bottom: 0;
        @apply pt-3 pb-10 text-base;
    }
}